/*<styl>family=Roboto:ital,wght@0,100;0,300;1,500&display=swap</style>
font-family: 'Montserrat', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:ital,wght@0,100;0,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Mukta:wght@300&family=Nunito:wght@300&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;1,500&display=swap');


*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}

li{
    list-style: none;


}
a{
    text-decoration: none;
}
.fondo{
    background-color: #BCEAD5;
}



header{
    width: 100%;
    border-radius: 5px;

    display: flex;
    color: black;
    background-color: #c69fd35e;
    justify-content:space-between;
}
.title{
    justify-content: center;
    display: flex;
    color:black;
    align-items:center;
    font-family:'Roboto',;
}
nav{
    width: 30%;
}
.navbar{
    display: flex;
    height: 50px;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
    margin-right: 20px;
    font-family: 'Poppins';
}
.imagen1{
    background-size:cover;
    background-image:url(../assets/img/fondo-incio.jpg)
}

h2{
    position: absolute;
    top: 40%;
    left: 80%;
    color: white
}
    .viajes p{
        color: aliceblue;
        position: absolute;
        flex-direction: column;
    top: 50%;
    left: 80%;
    }
    footer{
        display: flex;
        background-color: #0a0a0a5e;
        font-family: 'Poppins',;
        height:40px;
        border-top: 2px solid rgba(190, 70, 190, 0.11);  
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%
    }
    .iconos a{
        color: rgb(252, 247, 247);
    }
    .iconos{
        color: rgba(253, 252, 255, 0.945);
        display: grid;
        grid-template-columns:20px 150px 25px 150px 25px 150px 25px 100px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .iconos img{
        
        width: 20px;
    }

    @media (max-width:320px) 
    {
        .mobile{
            height:100%;
            width:100%;
        }
        .title h1{
            position: absolute;
            color: black;
            left: 50px;
            top: -1px;
            font-size: 100%;
        }
        .navbar{
            background-color: #f5f1f7d8;
            width: 300%;
        }
        .imagen1{
            width: 100%;
            height: 20%;
        }
        .mobile nav{
            display: flex;
            width: 200%;
            gap: 10%;
        }
        .navbar li a{
            
            width: 100%;
            font-size: 70%;
            text-decoration: none;
        }
        .hd1{
            
            width: 150%;
            background-color: #f5f1f738;
            bottom: 5%;
        }
        .iconos{
            
            display: flex;
            font-size: 60%;
        }

    }

    /*segundo html*/
    
    .hdm2{    
        font-family:'Roboto', sans-serif;
        width:100%;
        display: flex;
        color:white;
        background-color: #0ad6ec73;
        justify-content:space-between;
        
    }
    .promoh{
        font-family: 'Roboto', sans-serif;
        position: relative;
        background-color: #0ad6ec73;
        display: flex;
        height: 50px;
        gap: 20px;
        justify-content: space-between;
        padding: 20px;
        
    }
    .main{
        color: rgba(32, 119, 119, 0.486);

    }
.container img{
    
    width: 100%;
}
.container h2{
    font-family:'Montserrat', sans-serif;
    color: #f17b0c;
}
.tienda{
    
    font-family:'Nunito', sans-serif; ;
    width: 3opx;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card{
    width:100%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}
.cardsgrup{
    width: 100%;
    padding: 40px;
    border: 2px solid black;
    align-items: center;
    row-gap: 50px;

}

.foterclass{
    display: flex;
    height:40px;
    border-top: 2px solid rgba(0, 0, 0, 0.24);  
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#d889555e ;
    font-family: 'Roboto', sans-serif;;
    gap: 30px;
}
.fopromo{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.foterclass img{
    
    width: 20px;
}

/* empieza html 3 */

.hdm3{
    width: 100%;
    display: flex;
    color:white;
    background-color: #D989B5;
    justify-content:space-between;
    border-radius: 5px;
    

}
.destiny{
    width: 100%;
    background-color: #f5f6f773;
    display: flex;
    height: 50px;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
    margin-right: 20px;
}

.titulo4 img{
    width:100%
}
.titulo4 h2{
    position: absolute;
    top: 40%;
    left:50%
}
.titulo4 a{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 10px;
    border: 5px solid white;
    border-radius: 20px;
    background-color: aliceblue;

}
.fot3{
    position: static;
    background-color: #fea1bebb;
    
    
}
.iconosd{
    display: grid;
    width: 100%;
    grid-template-columns:20px 150px 25px 150px 25px 150px 25px 100px;
}


/* empieza el hdmi4*/

.bodyclass{
    background-size: cover;
    background-image: url(../assets/img/fondo-vuelos.jpg);  
}
header {
    width: 100%;
    border-radius: 5px;
    display: flex;
    color: black;
    justify-content:space-between;
}
/*nav{
    width: 30%;
}*/
.vuelos{
    display: flex;
    height: 50px;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
    margin-right: 20px;
}

fieldset{
    margin: 30px;
    padding: 10px 20px;
    width: 40%;
    border-radius: 30px;
    border: 2px solid;

}

.hd4{
    
        height:40px;
        border-top: 2px solid rgba(0, 0, 0, 0.24);  
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%
}

/*empieza el ultimo html*/


.bodyclass5{
    background-size: cover;
    background-image: url(../assets/img/fondo-contactos.jpg); 
}

.botonvuelos{
    
    background-color: #9e7b4673;
    width: 500px;
    height:300px;
    position: relative;
    left: 700px;
    top: 200px;
}
.form{
    margin: auto 0;
    font-family: 'Courier New', Courier, monospace;
}

.resenas img{
    position: relative;
    bottom: 100px;
    background-color: azure;
    width: 200px;
    height: 200px;
    border-radius:100px ;
    
}

.resenas p{
    position: relative;
    text-align:right;
    width: 300px;
    bottom: 100px;
}
.resenas h2{
    position: absolute;
    left: 30px;
}

.pie5{
    background-color: #ac8533;
    font-family:'Montserrat',;
    color: black;
    height:40px;
    left: 0;
    bottom: 0;
    width: 100%
}




