/*<styl>family=Roboto:ital,wght@0,100;0,300;1,500&display=swap</style>
font-family: 'Montserrat', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Mulish', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:ital,wght@0,100;0,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Mukta:wght@300&family=Nunito:wght@300&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Mukta:wght@300&family=Mulish:ital,wght@0,200;1,200&family=Nunito:wght@300&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;1,500&display=swap');


*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}

.body1{
    margin: 0%;
    padding: 0%;
    width: 100%;
    background-image: linear-gradient(to right top, #ec4cec, #f17ef1, #f5a6f5, #f8cbf8, #f9eef9);background-size:cover ; background-attachment: fixed;
    position: relative;
}
a{
    text-decoration: none;
}
.navbar ul{
    justify-content: center;
    width: 100%;
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 5%;
}
.mobile{
    height: 100%;
    width: 100%;
    display: flex;
    color: black;
    justify-content:space-between;
}
.title{
    justify-content: center;
    display: flex;
    color:black;
    align-items:center;
    font-family:'Roboto',;
}

.navbar{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
    justify-content: space-evenly;
    padding: 20px;
    margin-right: 20px;
    font-family: 'Poppins';
}
.fondinde{
    background-attachment: 300%;
}
.fondinde img{
    width: 100%;
    height: 100%;
}
.viajes{
    display: none;
}
    .carindex{
        
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "item1 item1 item1 item1 item1"
        "item2 item2 item2 item2 item2"
        "item3 item3 item3 item3 item3";
    }

    .item1{
        grid-area:item1;
        border-radius: 20px;
        background-color: #efb8fa;
        width: 100%;
        height: 100%;
    }
    .item1 h3{
        text-align: center;
        font-size: 200%;
    }
    .item1 p{
        text-align: center;
        font-size: 170%;
    }
    .lorem1{
        position: absolute; left: 30%;
        font-size: 150%;
    }
    .item2{
        grid-area:item2;
        border-radius: 20px;
        background-color: #efb8fa;
        width: 100%;
        height: 100%;

    }
    .item2 h4{
        text-align: center;
        font-size: 200%;
    }
    .item2 p{
        text-align: center;
        font-size: 170%;
    }
    .lorem2{
        position: absolute; left: 30%;
        font-size: 150%;
    }
    .item3{
        grid-area:item3;
        border-radius: 20px;
        background-color: #efb8fa;
        width: 100%;
        height: 100%;

    }
    .item3 h5{
        text-align: center;
        font-size: 200%;
    }
    .item3 p{
        text-align: center;
        font-size: 170%;
    }
    .lorem3{
        position: absolute; left: 30%;
        font-size: 150%;
    }
    .iconos a{
        color: rgb(252, 247, 247);
        font-family: 'Montserrat', sans-serif;
    }
    .iconos{
        position: static;
        bottom: 0%;
        width: 100%;
    }
    .iconos div{
        width: 100%;
        display: flex;
        gap: 10px;
    }
    .iconos img{
        width: 20px;
    }
/* primer html responsive*/
@media (max-width:320px)
{
    *{
        margin: 0%;
        padding: 0%;
        border: 0%;
        box-sizing:border-box;
    }
    .body1{
        height:100%;
        width: 160%;
        background-image: linear-gradient(to right top, #ec4cec, #f17ef1, #f5a6f5, #f8cbf8, #f9eef9);background-size:cover ; background-attachment: fixed;
        position: relative;
    }
        .title h1{
            position: absolute;
            color: black;
            left: 50px;
            top: -1px;
            font-size: 100%;
        }
        .tile h1{
            font-family: 'Nunito', sans-serif;
        }
        .viajes h2{
            font-family: 'Nunito', sans-serif;
            top:100px ;
            
        }
        .viajes p{
            color: rgb(255, 255, 255);
            width:40%;            
            display: flex;
            top: 220px;
        }
        .item1 img{
            display: none;
        }
        .item2 img{
            display: none;
        }
        .item3 img{
            display: none;
        }
        .item1 h3{
            text-align: center;
            font-family: 'Mukta', sans-serif;
            font-size: 120%;
        }
        .item1 p{
            text-align: center;
            font-size: 110%;
        }
        .lorem1{
            position: absolute; left: 0%;
            width: 100%;
            height: 100%;
            font-size: 100%;
        }
        .item2 h4{
            font-family: 'Mukta', sans-serif;
            font-size: 120%;
        }
        .item2 p{
            font-size: 110%;
        }
        .lorem2{
            position: absolute; left: 0%;
            width: 100%;
            height: 100%;
            font-size: 100%;
        }
        .item3 h5{
            font-family: 'Mukta', sans-serif;
            font-size: 120%;
        }
        .item3 p{
            font-size: 110%;
        }
        .lorem3{
            position: absolute; left: 0%;
            height: 100%;
            width: 100%;
            font-size: 100%;
        }
        .carindex{
            width: 100%;
            height: 500px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            "item1 item1 item1 item1 item1"
            "item2 item2 item2 item2 item2"
            "item3 item3 item3 item3 item3";
        }
        .item1{
            
            grid-area:item1;
            width: 100;
            padding: 1%;
            border: 2px solid #f17ef1;
            border-radius: 5px;
            row-gap: 5%;
        
        }
        .item2{
            width: 100%;
            height: 100%;
            border: 2px solid #f17ef1;
            border-radius: 5px;
            grid-area:item2;

        }
        .item3{
            width: 100%;
            height: 100%;
            border: 2px solid #f17ef1;
            border-radius: 5px;
            grid-area:item3;
        }
    }

    /*segundo html*/
    .colorbody{
        background-image: linear-gradient(to right, #4cd7ec, #74d3e1, #8fcfd7, #a5cbcf, #b8c6c7);
    }
    .hdm2{    
        font-family:'Roboto', sans-serif;
        width:100%;
        display: flex;
        color:white;
        background-image: linear-gradient(to right, #4cd7ec, #74d3e1, #8fcfd7, #a5cbcf, #b8c6c7);
    }
    .promoh{
        width: 100%;
        font-family: 'Roboto', sans-serif;
        position: relative;
        display: flex;
        height: 50px;
        gap: 20px;
        justify-content: space-between;
        padding: 20px;
        
    }
    .promoh li{
        list-style:none;
    }
    .main{
        color: rgba(32, 119, 119, 0.486);

    }
.container img{
    width: 100%;
}
.container h2{
    width: 100%;
    height: 100%;
   text-align: center;
    position: absolute;
    font-family:'Montserrat', sans-serif;
    color: #f17b0c;
}
.tienda{
    
    font-family:'Nunito', sans-serif; ;
    width: 3opx;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card{
    width:100%;
    background-image: linear-gradient(to right, #4cd7ec, #74d3e1, #8fcfd7, #a5cbcf, #b8c6c7);
    display: flex;
    flex-direction: row;
}
.cardsgrup{
    width: 100%;
    padding: 40px;
    border: 2px solid #384c50;
    border-radius: 10px;
    align-items: center;
    row-gap: 50px;

}

.foterclass{
    display: flex;
    height:40px;
    border-top: 2px solid rgba(0, 0, 0, 0.24);  
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#d889555e ;
    font-family: 'Roboto', sans-serif;;
    gap: 30px;
}
.fopromo{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.foterclass img{
    
    width: 20px;
}

/* empieza html 3 */

.colordestino{
    background-image: linear-gradient(to right bottom, #f61dc7, #f657d5, #f67ae1, #f697eb, #f6b1f3);
}
.hdm3{
    width: 100%;
    display: flex;
    justify-content:space-between;
    border-radius: 5px;
    font-family: 'Mulish', sans-serif;

}
.destiny{
    list-style: none;
    width: 100%;
    display: flex;
    height: 50px;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
    margin-right: 20px;
}
.destiny a{
    color: white;
}
.titulo4 img{
    width:100%
}
.titulo4 h2{
    position: absolute;
    top: 40%;
    left:50%
}
.titulo4 a{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 10px;
    border: 5px solid white;
    border-radius: 20px;
    background-color: aliceblue;

}
.fot3{
    position: static;
    height: 30px;
    
}
.iconosd{
    top: 10px;
    display: grid;
    width: 100%;
    grid-template-columns:20px 150px 25px 150px 25px 150px 25px 100px;
}
.iconosd a{
    color: wheat;
}

/* empieza el hdmi4*/

.bodyclass{
    height: 100%;
    width: 100%;
    background-image:linear-gradient(to right, #1db4f6, #27c3f6, #43d1f5, #61dff2, #80ebf0);
    position: relative;
}
.hdmvuelos {
    width: 100%;
    display: flex;
    justify-content:space-between;
    border-radius: 5px;
    font-family: 'Mulish', sans-serif;
}
.hdmvuelos a{
    width: 100%;
    color:#f9eef9
}

.vuelos{ 
    list-style: none;
    width: 100%;
    display: flex;
    height: 50px;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
    margin-right: 20px;
}
.vuelos li{
    width: 100%;
    list-style: none;
    font-size: 130%;
    padding: 0;
}
.mainvuelos img{
    width: 100%;
}

.fieldset{

    color: black;
    position: absolute;
    top: 100px;
    margin: 30px;
    padding:20px;
    width: 40%;
    height: 40%;
    border-radius: 30px;
    border: 2px solid;
    font-size: 110%;
    font-family: 'Nunito', sans-serif;
}
.fieldset legend{
    padding: 20px;
}
.footerhdm4{
    position: static;
    height: 30px;
    
}
.divvvuelos{
    top: 10px;
    display: grid;
    width: 100%;
    grid-template-columns:20px 150px 25px 150px 25px 150px 25px 100px;
}
.divvvuelos a{
    color: wheat;
}
/*EMPIEZA EL SEGUNDO HTML RESPONSIVE*/

@media (max-width:320px){
.bodyclass{
    height:300%;
    width: 230%;
    background-image: linear-gradient(to right, #1db4f6, #27c3f6, #43d1f5, #61dff2, #80ebf0);
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.mainvuelos img{
    width: 100%;
}
.fieldset{
    height: 100%;
    position: absolute;
    padding: 1%;
    border: none;
    bottom: 220%;
    top: 2%;

}
.divvvuelos{
    position: static;
    height:40px;
    left: 0;
    bottom: 0;
    width: 100%
}
.divvvuelos a{
    color: wheat;
}
}
/*empieza el ultimo html*/


.bodyclass5{
    background-size: cover;
    background-image: url(../assets/img/fondo-contactos.jpg); 
}

.hdmcontactos {
    width: 100%;
    display: flex;
    justify-content:space-between;
    border-radius: 5px;
    font-family: 'Mulish', sans-serif;
}
.contactos5 a{
    width: 100%;
    color:black
}

.contactos5{ 
    list-style: none;
    width: 100%;
    display: flex;
    height: 50px;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
    margin-right: 20px;
}
.contactos5 li{
    width: 100%;
    list-style: none;
    font-size: 130%;
    padding: 0;
}

.botonvuelos{
    border-radius: 10px;
    background-color: #9e7b4673;
    width: 500px;
    height:300px;
    position: relative;
    left: 700px;
    top: 200px;
}
.form{
    color: white;
    padding:10px ;
    margin: auto 0;
    font-family: 'Courier New', Courier, monospace;
}

.resenas img{
    position: relative;
    bottom: 100px;
    background-color: azure;
    width: 200px;
    height: 200px;
    border-radius:100px ;
    
}

.resenas p{
    position: relative;
    text-align:right;
    width: 300px;
    bottom: 100px;
}
.resenas h2{
    position: absolute;
    left: 30px;
}

.pie5{
    background-color: #ac8533;
    font-family:'Montserrat',;
    color: black;
    height:40px;
    left: 0;
    bottom: 0;
    width: 100%
}




