@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:ital,wght@0,100;0,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Mukta:wght@300&family=Nunito:wght@300&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Mukta:wght@300&family=Mulish:ital,wght@0,200;1,200&family=Nunito:wght@300&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Mukta:wght@300&family=Mulish:ital,wght@0,200;1,200&family=Nunito:wght@300&family=Oswald:wght@400;500&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.body1 {
  margin: 0%;
  padding: 0%;
  width: 100%;
  background-image: linear-gradient(to right top, #ec4cec, #f17ef1, #f5a6f5, #f8cbf8, #f9eef9);
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

/*empieza html 2*/
.colorbody {
  background-image: linear-gradient(to right, #4cd7ec, #74d3e1, #8fcfd7, #a5cbcf, #b8c6c7); }

/*empieza html 3*/
.colordestino {
  background-image: linear-gradient(to right, #ece3e3, #e5dcdd, #ded5d8, #d7ced4, #cec7cf); }

/*empieza html 4*/
.bodyclass {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #1db4f6, #27c3f6, #43d1f5, #61dff2, #80ebf0);
  position: relative; }

/*empieza el ultimo html*/
.bodyclass5 {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #fdd413, #ffdf61, #ffe995, #fff3c6, #fffdf7); }

.mobile, .headerhdm2, .hdm3, .hdmvuelos, .hdmcontactos {
  height: 100%;
  width: 100%; }

.navbar, .promoht2, .destiny, .vuelos, .contactos5 {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center; }
  .navbar ul, .promoht2 ul, .destiny ul, .vuelos ul, .contactos5 ul {
    width: 100%;
    margin-left: 20%;
    text-align: center;
    width: 100%;
    display: flex;
    list-style: none;
    gap: 10%;
    font-family: "Roboto", sans-serif; }
    .navbar ul a, .promoht2 ul a, .destiny ul a, .vuelos ul a, .contactos5 ul a {
      text-align: center;
      text-decoration: none;
      font-size: 100%; }

#btn-menu {
  display: none; }

label {
  display: none; }

/*empieza el segundo html*/
.headerhdm2 {
  height: 20%; }

/*empieza el tercer html*/
.hdm3 {
  height: 20%; }

/*empieza el cuarto html*/
.hdmvuelos {
  height: 20%; }

/*empieza el ultimo html*/
.fondinde {
  width: 100%; }
  .fondinde img {
    width: 100%;
    margin-top: -8%; }

.title {
  justify-content: center;
  display: flex;
  color: black;
  align-items: center;
  font-style: "Montserrat", sans-serif; }

.caja1 {
  position: absolute;
  margin-top: -60%;
  margin-left: 10%; }

.form1 {
  position: relative;
  left: 0;
  width: 400px;
  min-height: 400px;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px rgba(234, 177, 149, 0.31);
  padding: 2%;
  background-image: linear-gradient(to right bottom, #f4649c, #f67eba, #f796d4, #f6aeea, #f6c5fd); }

.form1 .caja2 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto; }

header {
  margin: 2% auto 10% auto;
  text-align: center; }

header h2 {
  color: #3e403f; }

header p {
  letter-spacing: 0.05em; }

.caja-item {
  width: 100%;
  background: #fff;
  color: #333;
  padding: 14.5px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px; }

input {
  width: 250px;
  min-height: 50px;
  margin-top: 3%;
  padding: 15px;
  font-size: 16px;
  color: #5E6472;
  outline: none;
  border: none;
  border-radius: 5px; }

button {
  display: inline-block;
  color: #252537;
  width: 250px;
  height: 50px;
  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  margin: 7% auto;
  letter-spacing: 0.05em; }

.submits {
  width: 48%;
  display: inline-block;
  float: left;
  margin-left: 2%; }

.frgt-pass {
  background: #f4f7f6; }

.sign-up {
  background: #f4f7f6; }

button:hover {
  transform: translatey(3px);
  box-shadow: none; }

button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate; }

@keyframes ani9 {
  0% {
    transform: translateY(3px); }
  100% {
    transform: translateY(5px); } }

.carindex {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "item1 none item2 none item3" "item1 none item2 none item3" "item1 none item2 none item3";
  display: flex;
  gap: 1%; }

.item1, .item2, .item3 {
  grid-area: item1;
  width: 100%;
  height: 100%;
  padding: 1%; }
  .item1 img, .item2 img, .item3 img {
    width: 100%;
    align-items: center; }
  .item1 h2, .item2 h2, .item3 h2 {
    text-align: center;
    font-size: 250%; }
  .item1 h3, .item2 h3, .item3 h3 {
    text-align: center;
    font-size: 180%; }
  .item1 p, .item2 p, .item3 p {
    text-align: center;
    font-size: 150%; }

.button {
  margin-left: 30%; }

.item2 {
  grid-area: item2;
  width: 100%;
  height: 100%; }

.item3 {
  width: 100%;
  height: 100%;
  grid-area: item3; }

.container img {
  width: 100%;
  margin-top: -8%; }

.container h1 {
  position: relative;
  text-align: center; }

.tienda h3 {
  text-align: center; }

.card {
  width: 100%;
  background-image: linear-gradient(to right, #4cd7ec, #74d3e1, #8fcfd7, #a5cbcf, #b8c6c7);
  display: flex;
  flex-direction: row; }

.cardsgrup {
  width: 100%;
  padding: 40px;
  border: 2px solid #384c50;
  align-items: center;
  row-gap: 50px;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #ebf7f8;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease; }

.cardsgrup:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%); }

.cardsgrup div h4 {
  text-align: center;
  line-height: 1.5;
  color: #6a6a6a; }

.cardsgrup div p {
  font-weight: 400;
  margin-bottom: 15px; }

.cardsgrup div a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease; }

.cardsgrup a:hover {
  background: #2fb4cc;
  color: #fff; }

.cardg1, .cardg2, .cardg3, .cardg4, .cardg5 {
  font-family: "Mulish", sans-serif; }
  .cardg1 img, .cardg2 img, .cardg3 img, .cardg4 img, .cardg5 img {
    width: 100%;
    align-items: start; }
  .cardg1 h4, .cardg2 h4, .cardg3 h4, .cardg4 h4, .cardg5 h4 {
    font-size: 200%; }
  .cardg1 p, .cardg2 p, .cardg3 p, .cardg4 p, .cardg5 p {
    font-family: "Oswald", sans-serif;
    color: black; }

.maindestino {
  height: 100%; }
  .maindestino h1 {
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 250%; }
  .maindestino h2 {
    margin: 1%;
    font-size: 150%;
    font-family: "Oswald", sans-serif; }
  .maindestino p {
    font-size: 100%;
    margin: 2%;
    font-family: "Lato", sans-serif;
    color: black; }
  .maindestino a {
    font-family: "Roboto", sans-serif;
    color: black;
    text-decoration: none;
    margin: 2%; }

.mainvuelos {
  height: 100%; }
  .mainvuelos h1 {
    position: relative;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 250%; }
  .mainvuelos img {
    position: relative;
    width: 100%; }

form {
  display: block;
  position: relative;
  align-items: center;
  margin: 2%;
  padding-left: 2%; }

fieldset {
  gap: 5%;
  font-family: "Oswald", sans-serif;
  background-color: rgba(240, 248, 255, 0.644);
  color: black;
  position: static;
  padding-left: 1px;
  width: 50%;
  height: 40%;
  border-radius: 30px;
  border: 2px solid;
  font-size: 110%; }
  fieldset label {
    display: block;
    height: 3%; }
  fieldset legend {
    padding: 1px; }

.h1contactos h1 {
  font-size: 300%;
  font-family: "Oswald", sans-serif;
  position: relative;
  text-align: center; }

.contactos {
  border-radius: 10px;
  background-color: #a5a39f73;
  flex-direction: column;
  position: relative;
  left: 30%;
  top: -50px;
  padding-left: 2%; }

.resenas {
  margin-bottom: 1%;
  display: block;
  padding: 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #dad7d7;
  height: 100%;
  width: 40%;
  border-radius: 3px;
  left: 30%; }
  .resenas img {
    border-radius: 50%;
    display: block;
    width: 90px;
    margin: 10px 20px 0 0;
    border: 3px solid #fff;
    float: left;
    position: relative;
    background-color: azure;
    height: 90px; }
  .resenas p {
    display: flex;
    font-family: "Oswald", sans-serif;
    position: relative;
    width: 70%; }

.iconos {
  display: flex;
  height: 40px;
  width: 100%;
  gap: 50%; }
  .iconos div {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 2%;
    font-family: "Roboto", sans-serif; }
  .iconos a {
    gap: 20%;
    width: 100%; }

/*empieza el segundo html*/
.foterclass, .fot3, .footerhdm4, .pie5 {
  display: flex;
  height: 40%;
  width: 100%;
  gap: 30px; }

.fopromo, .iconosd, .divvvuelos, .iconosh5 {
  width: 100%;
  margin: 2%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto", sans-serif; }
  .fopromo a, .iconosd a, .divvvuelos a, .iconosh5 a {
    align-items: center;
    gap: 20%; }

/*empieza el html3*/
/*empieza el html4*/
@media (max-width: 768px) {
  /*empieza el primer html*/
  .navbar ul, .promoht2 ul, .destiny ul, .vuelos ul, .contactos5 ul {
    margin-left: 10%; }
  .fondinde img {
    width: 101%; }
  .title h1 {
    font-family: "Oswald", sans-serif;
    font-size: 200%; }
  .carindex {
    width: 101%; }
  .form1 {
    top: -30px;
    left: -30%;
    width: 40%;
    height: 40%; }
  .item1, .item2, .item3 {
    width: 100%; }
    .item1 h2, .item2 h2, .item3 h2 {
      font-size: 150%;
      font-family: "Mulish", sans-serif; }
    .item1 h3, .item2 h3, .item3 h3 {
      font-size: 150%;
      font-family: "Oswald", sans-serif; }
    .item1 p, .item2 p, .item3 p {
      font-family: "Oswald", sans-serif; }
    .item1 img, .item2 img, .item3 img {
      width: 100%; }
  /*empieza el segundo html*/
  .colorbody {
    width: 100%;
    background-attachment: fixed; }
  .container img {
    width: 101%; }
  .card {
    flex-direction: column;
    gap: 1%;
    height: 50%;
    width: 50%; }
  .cardsgrup {
    width: 100%; }
    .cardsgrup h4 {
      margin-left: 40%; }
    .cardsgrup img {
      margin-left: 50%;
      width: 50%; }
  /*empieza el tercer html*/
  .colordestino {
    width: 100%;
    background-attachment: fixed; }
  .maindestino h1 {
    top: -15px;
    text-align: center; }
  .titulo4 img {
    width: 101%; }
  .titulo4 a {
    top: 550px; }
  /*empieza el cuarto html*/
  .bodyclass {
    width: 100%;
    background-attachment: fixed; }
  .mainvuelos h1 {
    top: -50px;
    text-align: center; }
  fieldset {
    font-size: 80%;
    top: 50px;
    width: 50%;
    height: 60%; }
    fieldset legend {
      padding: 5px; }
    fieldset input {
      width: 50%;
      font-size: 80%; }
  /*empieza el ultimo html*/
  .bodyclass5 {
    width: 100%;
    background-attachment: fixed; }
  .h1contactos div h1 {
    top: -50px;
    text-align: center; }
  .contactos {
    font-size: 80%;
    width: 60%;
    height: 60%;
    gap: 1%; }
    .contactos span {
      display: flex; }
  .resenas {
    width: 80%; } }

@media (max-width: 320px) {
  /*empieza el primer html*/
  .fondinde img {
    width: 168%; }
  .title h1 {
    color: aliceblue;
    margin-left: 180%; }
  .caja1 {
    top: 32%;
    height: 40%;
    width: 180%; }
  .caja-field {
    width: 100%; }
    .caja-field input {
      width: 80%; }
    .caja-field button {
      width: 80%; }
  .title h1 {
    position: relative;
    top: -310px; }
  .carindex {
    width: 168%; }
  .item1, .item2, .item3 {
    width: 100%;
    padding: 1%; }
    .item1 img, .item2 img, .item3 img {
      display: none; }
  .iconos {
    margin-left: -20%; }
  /*empieza el segundo html*/
  .colorbody {
    background-attachment: fixed;
    background-size: cover;
    width: 100%; }
  .headerhdm2 {
    width: 50%; }
  .promoht2 {
    width: 100%;
    margin-left: -70%;
    gap: 1%; }
    .promoht2 ul {
      gap: 4%; }
      .promoht2 ul a {
        font-size: 50%; }
  .container {
    width: 100%; }
    .container img {
      width: 54%; }
    .container h2 {
      font-size: 80%;
      font-family: "Oswald", sans-serif; }
  .tienda h3 {
    font-size: 80%;
    font-family: "Oswald", sans-serif;
    margin-left: -30%; }
  .card {
    margin-left: -10%;
    height: 80%;
    width: 60%; }
    .card img {
      display: none; }
  .cardg1 h4, .cardg2 h4, .cardg3 h4, .cardg4 h4, .cardg5 h4 {
    font-size: 110%; }
  .cardsgrup {
    width: 100;
    height: 1000%; }
  .foterclass, .fot3, .footerhdm4, .pie5 {
    height: 20%; }
  .fopromo, .iconosd, .divvvuelos, .iconosh5 {
    flex-direction: column;
    margin-left: 2%;
    font-size: 50%;
    bottom: 0%; }
  /*empieza el tercer html*/
  .colordestino {
    width: 200%;
    background-attachment: fixed;
    background-size: cover; }
  .destiny {
    width: 50%;
    margin-left: -5%; }
    .destiny ul a {
      font-size: 70%; }
  .titulo4 img {
    width: 50%; }
  .textodes {
    display: none; }
  .maindestino h1 {
    margin-left: -40%; }
  .titulo4 {
    width: 100%; }
    .titulo4 a {
      top: 200px;
      width: 40%;
      font-size: 60%;
      left: 200px; }
  .fot3 {
    width: 100%; }
  .iconosd {
    display: flex; }
  /*empieza el cuarto html*/
  .bodyclass {
    position: relative;
    background-attachment: fixed;
    height: 300%;
    width: 200%; }
  .hdmvuelos {
    gap: 1%;
    width: 50%; }
  .vuelos {
    margin-left: -60%; }
    .vuelos ul {
      gap: 3%; }
      .vuelos ul a {
        font-size: 90%; }
  .mainvuelos {
    position: relative;
    height: 200%; }
    .mainvuelos div h1 {
      top: -60px;
      text-align: start; }
    .mainvuelos img {
      display: none; }
  fieldset {
    position: absolute;
    top: -50%;
    margin-left: 1%;
    height: 330px;
    font-size: 70%;
    padding: 10px; }
    fieldset legend {
      padding: 1px; }
    fieldset button {
      width: 30%; }
  .footerhdm4 {
    bottom: 0%;
    width: 100%;
    height: 100px;
    margin-top: 50%; }
  .divvuelos {
    display: flex; }
    .divvuelos a {
      bottom: 0%; }
  /*empieza el ultimo html*/
  .bodyclass5 {
    background-attachment: fixed; }
  .contactos5 {
    margin-left: -10%; }
    .contactos5 ul {
      gap: 3%; }
      .contactos5 ul a {
        font-size: 90%; }
  .contactos {
    margin-left: -10%;
    width: 80%; }
    .contactos input {
      width: 200px; }
    .contactos button {
      width: 200px; }
  .resenas {
    width: 100%; }
    .resenas img {
      top: 1px; }
    .resenas h2 {
      top: 400px; } }

@media (max-width: 440px) {
  .body1 {
    width: 100%;
    height: 100%; }
  .mobile, .headerhdm2, .hdm3, .hdmvuelos, .hdmcontactos {
    height: 20%; }
  header label {
    align-items: flex-start;
    width: 10%;
    display: block; }
    header label img {
      margin-left: 0; }
  #btn-menu:checked ~ .navbar, #btn-menu:checked ~ .promoht2, #btn-menu:checked ~ .destiny, #btn-menu:checked ~ .vuelos, #btn-menu:checked ~ .contactos5 {
    position: relative;
    margin: 0; }
  .navbar, .promoht2, .destiny, .vuelos, .contactos5 {
    position: absolute;
    width: 50%;
    height: 20%;
    margin-left: -100%;
    transition: all 0.5s; }
    .navbar ul, .promoht2 ul, .destiny ul, .vuelos ul, .contactos5 ul {
      text-align: start;
      flex-direction: column; }
      .navbar ul a, .promoht2 ul a, .destiny ul a, .vuelos ul a, .contactos5 ul a {
        text-align: left;
        font-family: "Oswald", sans-serif;
        color: black; }
  .fondinde img {
    position: static;
    width: 100%; }
  .title h1 {
    color: aliceblue;
    text-align: center; }
  .resomobile {
    position: relative;
    height: 80%; }
  .caja1 {
    height: 40%;
    width: 100%; }
  .form1 {
    height: 50%; }
  .caja-field {
    width: 100%;
    height: 30%; }
    .caja-field input {
      width: 70%; }
    .caja-field button {
      width: 70%; }
  .title h1 {
    position: relative; }
  .carindex {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat 3, 1fr;
    grid-template-areas: "item1" "item2" "item3"; }
  .item1, .item2, .item3 {
    align-items: flex-start; }
    .item1 img, .item2 img, .item3 img {
      display: none; }
  .iconos {
    position: absolute;
    width: 100%;
    height: 20%; }
    .iconos div {
      display: flex; }
  /*empieza el segundo html*/
  header label {
    align-items: flex-start;
    width: 10%;
    display: block; }
    header label img {
      margin-left: 0; }
  #btn-menu:checked ~ .promoht2 {
    position: relative;
    margin: 0; }
  .colorbody {
    background-attachment: fixed;
    background-size: cover;
    width: 100%; }
  .headerhdm2 {
    width: 100%; }
  .promoht2 {
    position: absolute;
    width: 50%;
    height: 20%;
    margin-left: -100%;
    transition: all 0.5s; }
    .promoht2 ul {
      text-align: start;
      flex-direction: column; }
      .promoht2 ul a {
        text-align: left;
        font-family: "Oswald", sans-serif;
        color: black; }
  .container {
    width: 100%; }
    .container img {
      width: 100%; }
    .container h2 {
      font-size: 80%;
      font-family: "Oswald", sans-serif; }
  .tienda h3 {
    font-size: 80%;
    font-family: "Oswald", sans-serif; }
  .card {
    height: 80%;
    width: 60%; }
    .card img {
      display: none; }
  .cardg1 h4, .cardg2 h4, .cardg3 h4, .cardg4 h4, .cardg5 h4 {
    font-size: 110%; }
  .cardsgrup {
    width: 100;
    height: 100%; }
  .foterclass, .fot3, .footerhdm4, .pie5 {
    height: 20%; }
  .fopromo, .iconosd, .divvvuelos, .iconosh5 {
    position: absolute;
    width: 50%;
    height: 20%; }
    .fopromo div, .iconosd div, .divvvuelos div, .iconosh5 div {
      display: flex; }
  /*empieza el tercer html*/
  header label {
    align-items: flex-start;
    width: 10%;
    display: block; }
    header label img {
      margin-left: 0; }
  #btn-menu:checked ~ .destiny {
    position: relative;
    margin: 0; }
  .destiny {
    position: absolute;
    width: 50%;
    height: 20%;
    margin-left: -100%;
    transition: all 0.5s; }
    .destiny ul {
      text-align: start;
      flex-direction: column; }
      .destiny ul a {
        text-align: left;
        font-family: "Oswald", sans-serif;
        color: black; }
  .colordestino {
    width: 100%;
    background-attachment: fixed;
    background-size: cover; }
  .titulo4 img {
    width: 50%; }
  .textodes {
    display: none; }
  .maindestino h1 {
    margin-left: -40%; }
  .titulo4 {
    width: 100%; }
    .titulo4 a {
      top: 200px;
      width: 40%;
      font-size: 60%;
      left: 200px; }
  .fot3 {
    width: 100%; }
  .iconosd {
    display: flex; }
  /*empieza el cuarto html*/
  .bodyclass {
    position: relative;
    background-attachment: fixed;
    height: 100%;
    width: 100%; }
  .hdmvuelos {
    gap: 1%;
    width: 100%; }
  header label {
    align-items: flex-start;
    width: 10%;
    display: block; }
    header label img {
      margin-left: 0; }
  #btn-menu:checked ~ .vuelos {
    position: relative;
    margin: 0; }
  .vuelos {
    position: absolute;
    width: 50%;
    height: 20%;
    margin-left: -100%;
    transition: all 0.5s; }
    .vuelos ul {
      text-align: start;
      flex-direction: column; }
      .vuelos ul a {
        text-align: left;
        font-family: "Oswald", sans-serif;
        color: black; }
  .mainvuelos {
    position: relative;
    height: 200%; }
    .mainvuelos div h1 {
      top: -50px;
      text-align: start; }
  form {
    width: 100%;
    height: 80%; }
  fieldset {
    width: 100%; }
    fieldset input {
      width: 80%; }
  .divvuelos {
    display: flex; }
    .divvuelos a {
      bottom: 0%; }
  /*empieza el ultimo html*/
  .bodyclass5 {
    height: 100%;
    width: 100%;
    background-attachment: fixed; }
  header label {
    align-items: flex-start;
    width: 10%;
    display: block; }
    header label img {
      margin-left: 0; }
  #btn-menu:checked ~ .contactos5 {
    position: relative;
    margin: 0; }
  .contactos5 {
    position: absolute;
    width: 50%;
    height: 20%;
    margin-left: -100%;
    transition: all 0.5s; }
    .contactos5 ul {
      text-align: start;
      flex-direction: column; }
      .contactos5 ul a {
        text-align: left;
        font-family: "Oswald", sans-serif;
        color: black; }
  .h1contactos {
    position: relative;
    height: 200%; }
    .h1contactos div h1 {
      top: -50px;
      text-align: start; }
  form {
    margin: 0; }
  .contactos {
    left: 5%;
    margin: 0;
    width: 80%; }
    .contactos input {
      width: 200px; }
    .contactos button {
      width: 200px; }
  .resenas {
    width: 100%; }
    .resenas img {
      top: 1px; }
    .resenas h2 {
      top: 400px; } }

@media (max-width: 1200px) {
  /*empieza el primer html*/
  .navbar ul, .promoht2 ul, .destiny ul, .vuelos ul, .contactos5 ul {
    margin-left: 10%; }
  .fondinde img {
    width: 100vw; }
  .title h1 {
    font-family: "Oswald", sans-serif;
    font-size: 200%; }
  .carindex {
    width: 100%; }
  .form1 {
    top: -30px;
    left: -30%;
    width: 40%;
    height: 40%; }
  .item1, .item2, .item3 {
    width: 100%; }
    .item1 h2, .item2 h2, .item3 h2 {
      font-size: 150%;
      font-family: "Mulish", sans-serif; }
    .item1 h3, .item2 h3, .item3 h3 {
      font-size: 150%;
      font-family: "Oswald", sans-serif; }
    .item1 p, .item2 p, .item3 p {
      font-family: "Oswald", sans-serif; }
    .item1 img, .item2 img, .item3 img {
      width: 100%; }
  /*empieza el segundo html*/
  .colorbody {
    width: 100%;
    background-attachment: fixed; }
  .container img {
    width: 100%; }
  .card {
    flex-direction: column;
    gap: 1%;
    height: 50%;
    width: 50%; }
  .cardsgrup {
    width: 100%; }
    .cardsgrup h4 {
      margin-left: 40%; }
    .cardsgrup img {
      margin-left: 50%;
      width: 50%; }
  /*empieza el tercer html*/
  .colordestino {
    width: 100%;
    background-attachment: fixed; }
  .maindestino h1 {
    top: -15px;
    text-align: center; }
  .titulo4 img {
    width: 101%; }
  .titulo4 a {
    top: 550px; }
  /*empieza el cuarto html*/
  .bodyclass {
    width: 100%;
    background-attachment: fixed; }
  .mainvuelos h1 {
    top: -50px;
    text-align: center; }
  fieldset {
    font-size: 80%;
    top: 50px;
    width: 50%;
    height: 60%; }
    fieldset legend {
      padding: 5px; }
    fieldset input {
      width: 50%;
      font-size: 80%; }
  /*empieza el ultimo html*/
  .bodyclass5 {
    width: 100%;
    background-attachment: fixed; }
  .h1contactos div h1 {
    top: -50px;
    text-align: center; }
  .contactos {
    font-size: 80%;
    width: 60%;
    height: 60%;
    gap: 1%; }
    .contactos span {
      display: flex; }
  .resenas {
    width: 80%; } }
