@mixin grid ($col, $row, $areas) {
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows:repeat(3,1fr);
    grid-template-areas: 
"item1 none item2 none item3"
"item1 none item2 none item3"
"item1 none item2 none item3";
} 