.body1{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #ec4cec, #f17ef1, #f5a6f5, #f8cbf8, #f9eef9);background-size:cover ; background-attachment: fixed;
    position: relative;
}
/*empieza html 2*/
.colorbody{
    background-image: linear-gradient(to right, #4cd7ec, #74d3e1, #8fcfd7, #a5cbcf, #b8c6c7);
}
/*empieza html 3*/
.colordestino{
    background-image: linear-gradient(to right bottom, #f61dc7, #f657d5, #f67ae1, #f697eb, #f6b1f3);
}

/*empieza html 4*/
.bodyclass{
    height: 100%;
    width: 100%;
    background-image:linear-gradient(to right, #1db4f6, #27c3f6, #43d1f5, #61dff2, #80ebf0);
    position: relative;
}

/*empieza el ultimo html*/
    .bodyclass5{
        background-repeat: no-repeat;
        background-image: linear-gradient(to bottom, #fdd413, #ffdf61, #ffe995, #fff3c6, #fffdf7);
    }
