

.mainvuelos{
    h1{
        top: -150px;
        position: relative;
        text-align: center;
        font-family: $typo-main;
        font-size: 250%;
    }
    img{
        margin-top: -10%;
    }
}
fieldset{
    font-family: $typo-main;
    background-color: rgba(240, 248, 255, 0.644);
    color: black;
    position: absolute;
    top: 100px;
    margin: 30px;
    padding:10px;
    width: 50%;
    height: 50%;
    border-radius: 30px;
    border: 2px solid;
    font-size: 110%;
    legend{
        padding: 10px;
    }
}