

.mainvuelos{
    height: 100%;
    h1{
    
        position: relative;
        text-align: center;
        font-family: $typo-main;
        font-size: 250%;
    }
    img{
        position: relative;
        width: 100%;
    }
}
form{
    display: block;
    position: relative;
    align-items: center;
    margin: 2%;
    padding-left: 2%;
}
fieldset{
    gap: 5%;
    font-family: $typo-main;
    background-color: rgba(240, 248, 255, 0.644);
    color: black;
    position: static;
    padding-left:1px;
    width: 50%;
    height: 40%;
    border-radius: 30px;
    border: 2px solid;
    font-size: 110%;
    label{
        display: block;
        height: 3%;
    }
    legend{
        padding: 1px;
    }
}