
.maindestino h1{
    font-family: $typo-main;
    position: relative;
    text-align: center;
    font-size: 250%;
}
.titulo4{
    img{
        margin-top: -12%;
    }
    a{
        color: black;
        font-family: $typo-main;
        text-decoration: none;
        position: absolute;
        top: 55%;
        left: 30%;
        padding: 10px 10px;
        border: 5px solid white;
        border-radius: 20px;
        background-color: aliceblue;
    }
}
.textodes{
    font-family: $typo-main;
    text-align: left;
    left: 10px;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.603);
    width: 40%;
    top: 200px;
    position: absolute;
}