@media (max-width: 440px) {
    .body1{
        width: 100%;
        height: 100%;
    }
    .mobile{
        height: 20%;
    }
    header label{
        
        align-items: flex-start;
        width: 10%;
        display: block;
        img{
        
            margin-left: 0;
        }
    }
    #btn-menu:checked ~ .navbar{
        position: relative;
        margin: 0;
        
    }
    .navbar{
        position: absolute;
        width: 50%;
        height: 20%;
        margin-left:-100%;
        transition: all 0.5s;
        ul{

            text-align: start;
            flex-direction: column;
            a{
                text-align: left;
                font-family: $typo-main;
                color: black;
            }
        }
    }

    .fondinde{
        img{
            position: static;
            width: 100%;
        }
    }
    .title{
        h1{
            color: aliceblue;
        text-align: center;
        }
    }
    .resomobile{
        position: relative;
        height: 80%;
    }
    .caja1{
        
        height: 40%;
        width: 100%;
    }
    .form1{
        height: 50%;
    }
    .caja-field{
        width: 100%;
        height: 30%;
        input{
            width: 70%;
        }
        button{
            width: 70%;
        }
    }
    .title{
        h1{
            position: relative;
            
        }
    }
    .carindex{
        flex-direction: column;
        
        align-items: flex-start;
        margin: 0;
        @include grid2 (col,row,areas);
    }
    .item1{
    align-items: flex-start;
        img{
            display: none;
        }
    }
    .iconos{
        position: absolute;
        width: 100%;
        height: 20%;
        div{
            display:flex ;
        }
        
    }
    /*empieza el segundo html*/
    header label{
        
        align-items: flex-start;
        width: 10%;
        display: block;
        img{
        
            margin-left: 0;
        }
    }
    #btn-menu:checked ~ .promoht2{
        position: relative;
        margin: 0;
        
    }
    .colorbody{
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
    }
    .headerhdm2{
        width: 100%;
    
    }
    .promoht2{
        position: absolute;
        width: 50%;
        height: 20%;
        margin-left:-100%;
        transition: all 0.5s;
        ul{

            text-align: start;
            flex-direction: column;
            a{
                text-align: left;
                font-family: $typo-main;
                color: black;
            }
        }
    }
    .container{
        width: 100%;
        img{
            width: 100%;
        }
        h2{
            font-size: 80%;
            font-family: $typo-main;
        }
    }
    .tienda{
        h3{
            font-size: 80%;
            font-family: $typo-main;
        
        }
    }
    .card{
        
        height: 80%;
        width: 60%;
        img{
            display: none;
        }
    }
    .cardg1{
        h4{
            font-size: 110%;
        }
    }
    .cardsgrup{
        width: 100;
        height: 100%;
    }
    .foterclass{
        height: 20%;
    }
    .fopromo{
        position: absolute;
        width: 50%;
        height: 20%;
        div{
            display:flex ;
        }
        
    }
    
    /*empieza el tercer html*/
    header label{
        
        align-items: flex-start;
        width: 10%;
        display: block;
        img{
        
            margin-left: 0;
        }
    }
    #btn-menu:checked ~ .destiny{
        position: relative;
        margin: 0;
        
    }
    .destiny{
        position: absolute;
        width: 50%;
        height: 20%;
        margin-left:-100%;
        transition: all 0.5s;
        ul{

            text-align: start;
            flex-direction: column;
            a{
                text-align: left;
                font-family: $typo-main;
                color: black;
            }
        }
    }
    .colordestino{
        width: 100%;
        background-attachment: fixed;
        background-size: cover;
    }
    .titulo4{
        img{
            width: 50%;
        }
    }
    .textodes{
    display: none;
    }
    .maindestino{
        h1{
            margin-left: -40%;
        }
    }
    .titulo4{
        width: 100%;
        a{
            top: 200px;
            width: 40%;
            font-size: 60%;
        left: 200px;
    }
    }
    .fot3{
        width: 100%;
    
    }
    .iconosd{
        display: flex;
    }
    /*empieza el cuarto html*/
    .bodyclass{
        position: relative;
        background-attachment: fixed;
        height: 100%;
        width: 100%;
    }
    .hdmvuelos{
        gap: 1%;
        width: 100%;
    }
    header label{
        
        align-items: flex-start;
        width: 10%;
        display: block;
        img{
        
            margin-left: 0;
        }
    }
    #btn-menu:checked ~ .vuelos{
        position: relative;
        margin: 0;
        
    }
    .vuelos{
        position: absolute;
        width: 50%;
        height: 20%;
        margin-left:-100%;
        transition: all 0.5s;
        ul{
            text-align: start;
            flex-direction: column;
            a{
                text-align: left;
                font-family: $typo-main;
                color: black;
            }
        }
    }
    .mainvuelos{
        position: relative;
        height: 200%;
        div{
            h1{
                top: -50px;
                text-align: start;
            }
        }
    }
    form{
        width: 100%;
        height: 80%;
    }
    fieldset{
        width: 100%;
        input{
            width: 80%;
        }
    }
    .divvuelos{
        display: flex;
        a{
        bottom: 0%;
        }
    }
    /*empieza el ultimo html*/
    
    .bodyclass5{
        height: 100%;
        width: 100%;
        background-attachment: fixed;
    }
    header label{
        
        align-items: flex-start;
        width: 10%;
        display: block;
        img{
        
            margin-left: 0;
        }
    }
    #btn-menu:checked ~ .contactos5{
        position: relative;
        margin: 0;
        
    }
    .contactos5{
        position: absolute;
        width: 50%;
        height: 20%;
        margin-left:-100%;
        transition: all 0.5s;
        ul{
            text-align: start;
            flex-direction: column;
            a{
                text-align: left;
                font-family: $typo-main;
                color: black;
            }
        }
    }
    .h1contactos{
        position: relative;
        height: 200%;
        div{
            h1{
                top: -50px;
                text-align: start;
            }
        }
    }
    form{
        
        margin: 0;
    }
    .contactos{
        
        left: 5%;
        margin: 0;
        width: 80%;
            input{
            width: 200px;}
            button{
                width: 200px;
            }
    }
    .resenas{
        width: 100%;
        img{
            top: 1px;
        }
        h2{
            top: 400px;
        }
        
    }
}