@media (max-width: 768px){
    /*empieza el primer html*/
    .fondinde{
        img{
        width: 100%;
    }
}
.item1{
    h3{
        font-size: 100%;
    }
}
.lorem{
    font-size: 100%;
}
img{
    width: 25%;
}
/*empieza el segundo html*/
.container{
    img{
        width: 100%;
    }
}
.card{
    width: 100%;
}
.cardsgrup{
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    align-items: center;
    row-gap: 10px;
    img{
        width: 90px;
    }
}

/*empieza el tercer html*/
.titulo4{
    img{
        width: 100%;
    }
}
/*empieza el cuarto html*/
.mainvuelos{
    img{
        width: 100%;
        height: 100%;
    }
}
fieldset{
    background-color: rgba(240, 248, 255, 0.644);
    color: black;
    position: absolute;
    top: 100px;
    margin: 30px;
    padding:20px;
    width: 40%;
    height: 40%;
    border-radius: 30px;
    border: 2px solid;
    font-size: 80%;
    legend{
        padding: 5px;
    }
}
/*empieza el ultimo html*/

.botonvuelos{
    width: 50%;
    height: 50%;
    left:40%;
}
.form{
    font-size: 90%;
    height: 30%;
}
.resenas{
    img{
        top: -10px;
        width: 150px;
        height: 150px;
    }
    h2{
        top: 350px;
    }
    p{
        left: 150px;
        bottom: 100px;
    }
}


}