@media (max-width: 1200px){
    /*empieza el primer html*/
    .navbar{
        ul{
            margin-left: 10%;
        }
    }
    .fondinde{
        img{
        width: 100vw;
    }
}
.title{
    h1{
        font-family: $typo-main;
        font-size: 200%;
    }
}
.carindex{
    width: 100%;
}
.form1{
    top: -30px;
    left: -30%;
    width: 40%;
    height: 40%;
}
.item1{
    
    width: 100%;
    h2{
        font-size: 150%;
        font-family:$typo-text;
    }
    h3{
        font-size: 150%;
        font-family: $typo-main;
    }
    p{
        font-family: $typo-main;
    }
    img{
        width: 100%;
    }
}

/*empieza el segundo html*/
.colorbody{
    width: 100%;
    background-attachment: fixed;
}
.container{
    img{
        width: 100%;
    }
}
.card{
    flex-direction: column;
    gap: 1%;
    height: 50%;
    width: 50%;
}
.cardsgrup{
    width: 100%;
    h4{
        margin-left: 40%;
    }
    img{
        margin-left: 50%;
        width: 50%;
    }
}
/*empieza el tercer html*/
.colordestino{
    width: 100%;
    background-attachment: fixed;
}
.maindestino{
    h1{
        top:-15px;
        text-align:center;
    }
}
.titulo4{
    img{
        width: 101%;
    }
    a{
        top:550px;
    }
}
/*empieza el cuarto html*/
.bodyclass{
    width: 100%;
    background-attachment: fixed;
}

.mainvuelos{
    h1{
        top: -50px;
                text-align: center;
    }
    
}
fieldset{
    font-size: 80%;
    top: 50px;
    width: 50%;
    height: 60%;
    legend{
        
        padding: 5px;
    }
    input{
        width: 50%;
        font-size: 80%;
    }
}
/*empieza el ultimo html*/
.bodyclass5{
    width: 100%;
    background-attachment: fixed;
}
.h1contactos{
    div{
        h1{
            top: -50px;
                text-align: center;
        }
    }
}
.contactos{
    font-size: 80%;
    width: 60%;
    height: 60%;
    gap: 1%;
    span{
        display: flex;
    }
}
.resenas{
    width: 80%;
}
}