.iconos{
    display: flex;
    height:40px;
    width: 100%;
    gap: 50%;
    div{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 2%;
        font-family: $typo-nav;
    }
    a{
        gap: 20%;
        width: 100%;
    }
}

/*empieza el segundo html*/

.foterclass{
    display: flex;
    height:40%;
    width: 100%;
    gap: 30px;
    
}
.fopromo{
    width: 100%;
    margin: 2%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: $typo-nav;
    a{
        
        align-items: center;
    gap: 20%
    }
}

/*empieza el html3*/

.fot3{
    @extend .foterclass;
}
.iconosd{
    @extend .fopromo;
}

/*empieza el html4*/

.footerhdm4{
    @extend .foterclass;
}
.divvvuelos{
    @extend .fopromo;
}

.pie5{
    @extend .foterclass;
}
.iconosh5{
    @extend .fopromo;
}