.iconos{
    display: flex;
    height:40px;
    width: 100%;
    gap: 30px;
    div{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-left: 30%;
    }
    a{
        text-decoration: none;
        width: 100%;
    }
}

/*empieza el segundo html*/

.foterclass{
    display: flex;
    height:40px;
    width: 100%;
    gap: 30px;
}
.fopromo{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 30%;
    a{
        text-decoration: none;
    }
}

/*empieza el html3*/

.fot3{
    @extend .foterclass;
}
.iconosd{
    @extend .fopromo;
}

/*empieza el html4*/

.footerhdm4{
    @extend .foterclass;
}
.divvvuelos{
    @extend .fopromo;
}

.pie5{
    @extend .foterclass;
}
.iconosh5{
    @extend .fopromo;
}