.title{
    justify-content: center;
    display: flex;
    color:black;
    align-items:center;
    font-style: $typo-titulo;
}

.carindex{
    width: 100%;
    height: 100%;
    @include grid (col,row,areas)
    
}
.item1{
    grid-area: item1;
    border-radius: 20px;
    background-color: rgba(240, 248, 255, 0.76);
    width: 100%;
    height: 100%;
    h3{
        text-align: center;
        font-size: 200%;
    }
    h4{
        text-align: center;
        font-size: 150%;
        
        
    }
    img{
        
        margin-top: -100px;
        margin-left: 3%;
    }
}
.lorem{
    font-family: $typo-main;
    margin-top: 40px;
    margin-left: 33%;
    font-size: 30px;
    color: rgb(13, 13, 14);

}
.item2{
    height: 100%;
    grid-area: item2;
    @extend .item1;
    img{
        position: absolute;
        margin-top: -50px;
    }
}
.item3{
    grid-area: item3;
    @extend .item1;
    img{
        position: absolute;
        margin-top: -150px;
    }
}
.lorem2{
    @extend .lorem;
}
.lorem3{
    @extend .lorem;

}
/*empieza el segundo html*/
.container h1{
    position: relative;
    text-align: center;
    top: -850px;
}
.container{
    h2{
        position: relative;
        top: -20px;
    }
}
.tienda{
    h3{
        text-align: center;
    }
}
.card{
    width:100%;
    background-image: linear-gradient(to right, #4cd7ec, #74d3e1, #8fcfd7, #a5cbcf, #b8c6c7);
    display: flex;
    flex-direction: row;
}
.cardsgrup{
    width: 100%;
    padding: 40px;
    border: 2px solid #384c50;
    border-radius: 10px;
    align-items: center;
    row-gap: 50px;

}


/*empieza el html 3*/

.maindestino h1{
    position: relative;
    text-align: center;
}
.titulo4{
    h2{
    position: absolute;
    top: 40%;
    left:50%}
    a{
        color: black;
        font-family: $typo-main;
        text-decoration: none;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 10px 10px;
        border: 5px solid white;
        border-radius: 20px;
        background-color: aliceblue;
    }
}
.textodes{
    font-family: $typo-main;
    text-align: left;
    left: 10px;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.603);
    width: 40%;
    top: 200px;
    position: absolute;
}
/*empieza el cuarto html*/

.mainvuelos h1{
    top: -800px;
    position: relative;
    text-align: center;
}

fieldset{
    font-family: $typo-text;
    background-color: rgba(240, 248, 255, 0.644);
    color: black;
    position: absolute;
    top: 100px;
    margin: 30px;
    padding:10px;
    width: 40%;
    height: 25%;
    border-radius: 30px;
    border: 2px solid;
    font-size: 110%;
    legend{
        padding: 10px;
    }
}

/*empieza el ultimo html*/

.h1contactos{
    h1{
        position: relative;
        text-align: center;
    }
}

.botonvuelos{
    border-radius: 10px;
    background-color: #a5a39f73;
    width: 500px;
    height:300px;
    position: relative;
    left: 700px;
    top: 30px;
}
.form{
    margin-top: -5%;
    padding:5px ;
}

.resenas{
    img{
    position: relative;
    top: -200px;
    background-color: azure;
    width: 200px;
    height: 200px;
    border-radius:100px ;}
    h2{
        color: rgb(84, 84, 85);
        top: 200px;
        position: absolute;
        left: 30px;
    }
    p{
        font-family: $typo-main;
        position: relative;
        text-align:right;
        width: 40%;
        bottom: 200px;
        left: 80px;
    }

}